<div
	class="flex flex-column justify-content-end p-3 gap-3"
	*ngIf="dialogConfig.data">
	<!-- Start ngSwitch/Case Containers -->

	<ng-container [ngSwitch]="true">
		<!-- Tournament Details Container -->
		<!-- Used when selecting an entire tournament -->
		<ng-container *ngSwitchCase="dialogConfig.data?.selectedRow !== undefined">
			<h4>Tournament: {{ selectedRow.torneo }}</h4>
			<span>Date: {{ selectedRow.Data }}</span>
		</ng-container>
		<!--  -->
		<ng-container *ngSwitchCase="dialogConfig.data.singleEntry">
			<ng-container *ngIf="rowData && colData">
				<h3>
					{{ colData.header | mapHeaders }} :
					{{ rowData[colData.field] }}
				</h3>
			</ng-container>
		</ng-container>
	</ng-container>
	<div class="flex flex-row gap-3">
		<ng-container>
			<p-button
				class="p-button-success"
				severity="success"
				label="See Ranks"
				(click)="closeWithConfirm('rank')"></p-button>
		</ng-container>
		<ng-container>
			<p-button
				class="p-button-success"
				severity="success"
				label="See Scores"
				(click)="closeWithConfirm('scores')"></p-button>
		</ng-container>
		<p-button
			class="p-button-success"
			severity="secondary"
			label="Back to list"
			(click)="cancel()"></p-button>
	</div>
</div>
