<!--
	Need to make component for
	- Paginate buttons
	- Filter and Search
 -->

<div
	class="table-wrapper flex flex-column justify-content-start"
	[ngClass]="currentBP.key">
	<p-table
		#tDetails
		[columns]="tableCols"
		[value]="tournamentDetails"
		[paginator]="true"
		[rows]="visibleRows"
		[first]="first"
		[rowsPerPageOptions]="[
			10,
			20,
			40,
			100,
			tablesService.getAllRows(tournamentDetails)
		]">
		<ng-template pTemplate="caption">
			<div class="flex">
				<button
					pButton
					class="p-button-outlined"
					label="Clear"
					icon="pi pi-filter-slash"></button>
				<span class="p-input-icon-left ml-auto">
					<i class="pi pi-search"></i>
					<input
						#searchInput
						pInputText
						type="text"
						placeholder="Search" />
				</span>
			</div>
		</ng-template>
		<ng-template
			pTemplate="header"
			let-columns>
			<tr>
				<th
					*ngFor="let col of columns"
					[pSortableColumn]="col.field"
					ngClass="">
					{{ col.header | mapHeaders }}
					<p-sortIcon [field]="col.field"></p-sortIcon>
				</th>
			</tr>
		</ng-template>
		<ng-template
			pTemplate="body"
			let-rowData
			let-columns="columns">
			<tr>
				<td *ngFor="let col of columns">
					<ng-container *ngIf="tablesService.truncColumn(col.field)">{{
						rowData[col.field] | removeDate | truncate : 26
					}}</ng-container>
					<ng-container *ngIf="!tablesService.truncColumn(col.field)">{{
						rowData[col.field]
					}}</ng-container>
				</td>
			</tr>
		</ng-template>
	</p-table>
</div>
<!-- Debugging -->
<!-- {{ tournamentDetails[0] | json }} -->
