<div class="card">
	<div class="flex flex-column gap-2 align-items-center">
		<div class="profile-pic">
			<img
				src="/assets/placeholders/profile-pic-200x200.jpg"
				alt="" />
		</div>
		<div class="flex flex-column gap-2 details">
			<div class="row flex flex-row gap-3">
				<span class="text-primary">Player Name</span>
				<span>{{ playerData.playerName }}</span>
			</div>
			<div class="row flex flex-row gap-3">
				<span class="text-primary">Player Code</span>
				<span>{{ playerData.playerCode }}</span>
			</div>
			<!-- <div class="row flex flex-row gap-1">
				<span class="text-primary">Member</span>
				<span>{{ playerData.member }}</span>
			</div>
			<div class="row flex flex-row gap-1">
				<span class="text-primary">Alternative Code</span>
				<span>{{ playerData.altCode }}</span>
			</div>
			<div class="row flex flex-row gap-1">
				<span class="text-primary">BBO Username</span>
				<span>{{ playerData.bboUser }}</span>
			</div> -->
		</div>
	</div>
</div>
